<h3>Editing Book</h3>

<p>Title</p>
<%=form_with model:@book do |f|%>
<%=f.text_field:title %>

<P>Body</P>
<%=f.text_area:body %>

<%= f.submit 'Update Book' %>
<% end %>

<%=link_to "Show",book_path(@book.id)%>
<%=link_to "back",books_path %>

<% if @book.errors.any?%>
 <%= @book.errors.count %>The page you were looking for doesn't exist.
You may have mistyped the address or the page may have moved.

If you are the application owner check the logs for more information.
 <ul>

   <% @book.errors.full_messages.each do |message| %>
   <li><%=message%></li>
 </ul>
 <%end%>
<%end%>

